.recipe-detail-container {
  .headline-banner {
    background-color: $white;
    padding: 12px 8px;
    .name {
      font-weight: $bold;
      color: $primary;
    }
    .headline {
      color: $black80;
    }
  }

  .image-banner {
    width: 100%;
  }

  .details-column {
    padding: 0 4px;
  }

  .record {
    font-size: 16px;
    color: $black56;
    line-height: 1.5;
    .key {
      @extend .medium !optional;
    }
    .value {
    @extend .pull-right !optional;
    }
  }

  .pdp-fav {
    font-size: 24px;
  }
  .pdp-prep-time {
    font-size: 14px;
    position: absolute;
    right: 0;
  }
  .relative-column {
    position: relative;
  }

  .pdp-rating {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 24px;
    &.rate-me i {
      padding: 4px 2px;
    }
  }

  .rate-block {
    float: right;
  }

  .avg-rating, .avg-rating * {
    display: inline-block;
    vertical-align: middle;
  }
}

@media all and (min-width: $medium-min) {
  .recipe-detail-container {
    .headline-banner {
      padding: 16px;
    }

    .pdp-fav {
      font-size: 28px;
    }

    .pdp-rating {
      margin-right: 8px;
      font-size: 28px;
    }
  }
}

@media all and (min-width: $large-min) {
  .recipe-detail-container {
    .fave-block {
      float: right;
    }

    .details-column {
      padding: 0 8px;
    }
  }
}


