.badge {
  display: inline-block;
  background-color: $info;
  font-weight: $medium;
  color: $black;
  font-size: 12px;
  line-height: 1.2;
  padding: 4px 8px;

  &-alert {
    background-color: $alert;
  }

  &-info {
    background-color: $info;
  }

  &-success {
    background-color: $success;
  }
}
