.rate-me {
  font-size: 28px;
  color: $gray;
  i {
    padding: 4px;
    cursor: pointer;
    &.selected {
      color: $green;
      opacity: 1;
    }
  }
  .clear-rating {
    color: $red;
    opacity: 1;
  }
}

@media all and (min-width: $medium-min) {
  .rate-me {
    i {
      &.selected:hover {
        color: $green;
        opacity: 1;
      }
      &:hover {
        color: $green;
        opacity: 0.6;
      }
    }
    .clear-rating {
      &:hover {
        color: $red;
        opacity: 1;
      }
    }
  }
}
