.icon-fav {
  display: inline-block;
  opacity: 1;
  cursor: pointer;
  color: $primary;
}

@media all and (min-width: $medium-min) {
  .icon-fav {
    opacity: 0.65;
    &:hover {
      opacity: 1;
    }
  }
}
