$max-width: 1200px;

$breakpoints : (
  small: (min: 0, max: 640px),
  medium: (min: 641px, max: 768px),
  large: (min: 769px, max: 1200px),
);

$grid-columns: 12;

$medium-min: #{map-get(map-get($breakpoints, 'medium'), 'min')};
$large-min: #{map-get(map-get($breakpoints, 'large'), 'min')};
