$white: #fff;
$black: #000;
$black80: rgba(0, 0, 0, 0.8);
$black56: rgba(0, 0, 0, 0.56);
$black36: rgba(0, 0, 0, 0.36);
$green: #91c11e;
$red: #f04124;
$blue-bg: #cce5ff;
$red-bg: #f8d7da;
$green-bg: #d4edda;
$light-gray: #f8f8f8;
$gray: #e6e6e6;
$background-color: #f5f5f5;


// Colors
$primary: $green;


// Badge colors
$info: $blue-bg;
$alert: $red-bg;
$success: $green-bg;


// Fonts
$font-family: 'Open Sans', sans-serif;
$regular: 400;
$medium: 600;
$bold: 700;


