
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container, .row {
  &::before, &::after {
    display: table;
    content: ' ';
  }
}

//Restricting container to max-width
.grid-container, .row {
  max-width: $max-width;
  margin: 0 auto;
  &::after {
    clear: both;
  }
}

.column {
  width: 100%;
  float: left;
}

//Mixin to generate grid columns
@mixin generate-columns($size: 'sm') {
  @for $i from 1 through $grid-columns {
    .#{$size}-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
//Mobile first approach: Default small grid
@include generate-columns();

//Generate grid for medium
@media all and (min-width: $medium-min) {
  @include generate-columns('md');
}

//Generate grid for large
@media all and (min-width: $large-min) {
  @include generate-columns('lg');
}
