body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: $regular;
  font-size: 14px;
  line-height: 1.4;
  color: $black80;
  background-color: $background-color ;
}

//Set up headings
h1, h2, h3, h4, h5, h6 {
  color: $black;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }

@media all and (min-width: $medium-min) {
  h1 { font-size: 34px; }
  h2 { font-size: 26px; }
  h3 { font-size: 22px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }
}

@media all and (min-width: $large-min) {
  h1 { font-size: 36px; }
  h2 { font-size: 28px; }
  h3 { font-size: 24px; }
  h4 { font-size: 22px; }
  h5 { font-size: 20px; }
}

button {
  font-size: 14px;
  font-weight: $bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.mute {
  color: $black36;
}

.bold {
  font-weight: $bold;
}

.medium {
  font-weight: $medium;
}

.small {
  font-size: 12px;
  line-height: 1.2;
}
