.ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// Overriding link style so as to
// make custom style wherever required.
a {
  text-decoration: none;
}

.pull-right {
  float: right;
}
