
.show-for-medium-only, .show-for-large-only, .hide-for-small-only {
  display: none !important;
}

//Visibility classed for medium
@media all and (min-width: $medium-min) {
  .show-for-small-only, .show-for-large-only .hide-for-medium-only {
    display: none !important;
  }
  .hide-for-small-only {
    display: inherit;
  }
}

//Visibility classed for large
@media all and (min-width: $large-min) {
  .show-for-small-only, .show-for-medium-only, .hide-for-large-only {
    display: none !important;
  }
}
