.nav {
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.08);
  z-index: 1000;

  .content {
    max-width: $max-width;
    margin: 0 auto;
  }

  .logo {
    &-horizontal {
      display: none;
    }
    &-small {
      display: inline-block;
      vertical-align: middle;
      padding: 2px 0;
      height: 36px;
      margin: 4px 8px;
    }
  }

  .menu-list {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    list-style-type: none;
    font-size: 14px;
    font-weight: $medium;
    li {
      display: inline-block;
      vertical-align: middle;
      a {
        padding: 4px 6px;
        color: $primary;
      }
    }
  }
}

@media all and (min-width: $medium-min) {
  .nav {
    .logo {
      &-horizontal {
        display: inline-block;
        vertical-align: middle;
        padding: 2px 0;
        height: 36px;
        margin: 4px 8px;
      }
      &-small {
        display: none;
      }
    }
    .menu-list {
      margin-left: 20px;
      font-size: 18px;
    }
  }
}

