.recipe-card {
  background: $white;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 0 0 $gray;

  .link {
    position: relative;
  }

  .title {
    color: $primary;
    text-align: center;
    padding: 8px 4px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .calorie {
    position: absolute;
    left: 0;
  }
  .prep-time {
    position: absolute;
    right: 0;
  }

  .info {
    padding: 8px;
  }

  .plp-fav {
    font-size: 24px;
    padding: 4px 0;
    float: right;
  }

  .plp-rating {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    i {
      padding: 8px 6px 8px 0;
    }
  }

  .avg-rating, .avg-rating * {
    display: inline-block;
    vertical-align: middle;
  }
}

@media all and (min-width: $large-min) {
  .recipe-card {
    .plp-rating {
      i {
        padding: 8px 8px 8px 0;
      }
    }
  }
}

