@import "../breakpoints";
@import "../grid";

.header {
  text-align: center;
  margin: 16px 0;
}
.box {
  border-radius: 4px;
  border: 1px solid #8a8a8a;
  background: #e6e6e6;
  margin: 4px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0;
}

