.panel-box, .panel-box.clean {
  background-color: $white;
  .panel-title {
    @extend .ellipse !optional;
    @extend .medium !optional;
    color: $black80;
  }
  &.box {
    border: 1px solid $gray;
    margin-bottom: 20px;
    .panel-title {
      background-color: $light-gray;
      padding: 8px;
    }
    .panel-content {
      padding: 8px;
    }

  }
}
